html, body{
	font-family:'Nunito', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Pacifico', cursive;
}
header .header-menu{
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px solid black;
}
header .header-menu li{
	display:inline;
	padding-left:20px;
}
header .header-menu li a{
	text-decoration:none;
	color: black;
}
header .nav-menu {
	margin-top:15px;
	margin-left:150px;
	margin-bottom:15px;
}
header .nav-menu li{
	list-style: none;
	display: inline;
	padding-left:80px;
}
header .nav-menu li a{
	text-decoration:none;
	color : black;
}
#searchproduct{
	width:300px;
	height:38px;
}
#searchbutton{
	margin-top:-3px;
}
#search-menu{
	margin-top:5px;
}
#info-menu{
	margin-top:15px;
}
footer{
	margin-top: 20px;
	
}
footer .cover {
	background-color: #3C3D41;
	
}
footer .row{
	color: white;
	list-style:none;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:170px;
}
footer .row li a{
	text-decoration:none;
	color:white;
}
.hp_fullwidth_img{
	background: url("/upload/hp_big_img.jpg") no-repeat center; 
	height: 300px;
	position: relative;
}
.hp_fullwidth_img h2{
	position: absolute;
	color: #000;
	font-weight: bold;
	text-align: center;
	background-color: rgb(255, 255, 255,0.9);
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 15px;
	padding: 7px;
}
#hp .section1{
	padding-top: 50px;
	text-align: center;
	background-color: rgb(240, 240, 240);
}
.hp_s1_product{
	position: relative;
	text-align: center;
}
.hp_s1_product h4{
    position: absolute;
    top: 45%;
	left: 0;
	right: 0;
	color: white;
}
.hp_s1_product img{
	margin: 30px 0px;
	width: 100%;
}

#hp .section2{
padding-top: 50px;
text-align: center;

}
#hp .section2 a{
	color: #000;
	
}
#hp .section2 a:hover{
	text-decoration: none;
	
}
.hp_s2_product img{
	margin: 5px 0px;
	width: 100%;
}
.rating{
	font-size: 20px;
	font-weight: bold;
}
.add_to_cart_btn{
	color: #fff;
}

#hp .section3{
	margin-top: 50px;
	width: 100%;
	background: url("/upload/1_1_TUNJhsa9DzVL1MGJ6AbQ.png") no-repeat center; 
	background-size: cover;
	height: 400px;
	position: relative;
	text-align: center;
}
#hp .section3 h1{
  position: absolute;
	top: 35%;
	left: 0;
	right: 0;
	color: #fff;
	font-size: 80px;
}